server:
  port: 8080
  servlet:
    context-path: /tech

spring:
  config:
    import: optional:file:./local.properties
  jpa:
    show-sql: true

jwt:
  signerKey: ${SIGNER_KEY}

payment:
  vnPay:
    url: ${PAY_URL}
    tmnCode: ${TMN_CODE}
    secretKey: ${SECRET_KEY}
    returnUrl: ${RETURN_URL}
    version: ${VERSION}
    command: ${COMMAND}
    orderType: ${ORDER_TYPE}